<main class="p-5">
    <h1>
        <i class="bi bi-basket2"></i>
    </h1>

    <button class="btn btn-info">
        <i class="bi bi-sd-card-fill"></i>
    </button>

    <br>

    <div>
        <img width="100px" src="/svg/linkedin.svg" alt="linkedin">
    </div>
</main>