<main class="p-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <br>

                <div class="nav-item">
                    <a href="#" class="nav-link">Bootstrap</a>
                </div>
                <br>

                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Shop list</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="pt-3 pb-2 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Home</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link disabled">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="clo-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item ">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC or Notebooks</a>
                        </li>
                        <li class="breadcrumb-item">
                            MacBook
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary rounded-pill mb-3">Button</button>
                <div class="alert alert-light">
                    <h6 class="m-0">
                        Hello world! <span class="badge text-bg-warning rounded-pill text-uppercase">Топ продаж</span>
                    </h6>

                </div>
            </div>
        </div>
    </div>
</main>