<section>
    <div class="row">
        {{#each footer}}
        <div class="nav col-2">
            {{#each this}}
            <div class="nav-item">
                <a class="nav-link{{#if @last}} disabled {{/if}}" href="{{link}}">{{text}}</a>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</section>