<section>
    {{#with navigation}}
    <div class="card">
        <div class="row py-3 px-2">
            <div class="col-7 ">
                <h2>{{Logo}}</h2>
            </div>
            <div class="col-5 ps-4">
                <div class="nav">
                    {{#each links}}
                    <div class="nav-item">
                        <a href="{{href}}" class="nav-link{{#if @last}} disabled {{/if}} ">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</section>